/*----------------------------------------------------------------------------
 ©  Copyright 2010, Rockwell Collins, Inc 
    This file is part of TRAMweb.

    TRAMweb is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    TRAMweb is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with TRAMweb.  If not, see <http://www.gnu.org/licenses/>.
---------------------------------------------------------------------------*/

svg { fill: #555;}
text {font-family: "Comic Sans MS",cursive; font-size: 10pt;}
text.header {font-size: 16pt; fill: #777;}
text.noderole {font-size: 5pt; fill: #777;}
text.stat {font-family: sans-serif; font-size: 8pt;  fill:gray;} 
text.history {font-family: courier; font-size: 11pt;  fill:#CCC;} 
text.hd {font-family: sans-serif; font-size: 8pt;  fill:#EEE;} 
text.hd1 {font-family: sans-serif; font-size: 8pt;  fill:#999;} 
div,a,textarea,h6,input,help,p,opt,text.hd,text.hd1 {font-family: sans-serif; outline: none;}
a, text[href], g[href], g.button:hover, text.hd:hover, g#history text tspan:hover { fill:#48F; }
g.attach:hover path, g.attach:hover rect { stroke:#48F; cursor:pointer;}
text.hd1, input { font-size: 8pt;}
p { font-size: 11pt; }
textarea { border:1px solid #555;}
g:hover g#history ,g:hover g#bar { display: inline; cursor:pointer;}
g.node:hover, g[href]:hover{ fill:#FFF; cursor:crosshair;}



